<%= form_with(model: citizen, local: true) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
        <% citizen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Full Name</span>
    <%= form.text_field :full_name, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">CPF</span>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Email</span>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Birthdate</span>
    <%= form.text_field :birthdate, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Phone</span>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>


  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Status</span>
    <%= form.check_box :status, class: 'form-check-input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>