<%= form_with(model: citizen, local: false) do |form| %>
  <% if citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
        <% citizen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Full Name</span>
    <%= form.text_field :full_name, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">CPF</span>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Email</span>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Birthdate</span>
    <%= form.text_field :birthdate, class: 'form-control' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Phone</span>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>


  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Status</span>
    <%= form.check_box :status, class: 'form-check-input' %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">Photo</span>
    <%= form.file_field :photo, class: 'form-control' %>
  </div>

  <%= form.fields_for :address do |address_fields| %>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Zipcode</span>
      <%= address_fields.text_field :zipcode, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Public Place</span>
      <%= address_fields.text_field :public_place, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Number</span>
      <%= address_fields.text_field :number, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Complement</span>
      <%= address_fields.text_field :complement, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Neighborhood</span>
      <%= address_fields.text_field :neighborhood, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">City</span>
      <%= address_fields.text_field :city, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">State</span>
      <%= address_fields.text_field :state, class: 'form-control' %>
    </div>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">IBGE Code</span>
      <%= address_fields.text_field :ibge_code, class: 'form-control' %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<script>
    address_auto_complete();
    citizens_mask();
</script>