<%= link_to new_citizen_path, class: 'btn btn-info new_citizen', remote: true do %>
  <i class="fa fa-plus"></i> New Citizen
<% end %>

<%= link_to citizen_search_form_path, class: 'btn btn-info new_citizen', remote: true do %>
  <i class="fa fa-plus"></i> Find Citizens
<% end %>

<%= link_to citizens_path, class: 'btn btn-info new_citizen' do %>
  <i class="fa fa-plus"></i> Show All
<% end %>

<br><br>

<div id="citizen-forms">
</div>

<br><br>

<h1>Citizens</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Full name</th>
    <th>Cpf</th>
    <th>Photo</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @citizens.each do |citizen| %>
    <tr>
      <td><%= citizen.full_name %></td>
      <td><%= citizen.cpf %></td>
      <td class="text-center"><%= image_tag(citizen.photo(:thumb)) %></td>
      <td><%= citizen.status %></td>
      <td><%= link_to 'More Info', citizen, remote:true%></td>
      <td><%= link_to 'Edit', edit_citizen_path(citizen), remote: true %></td>
    </tr>
    <tr class="citizen-details" data-id="<%=  citizen.id %>">
      <td style="border: none; padding: 0"></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    <% if notice %>
    $.notify("<%= notice %>", "success")
    <% end %>
</script>
