<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @citizen.full_name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @citizen.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @citizen.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @citizen.birthdate %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @citizen.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @citizen.status %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
