<p id="notice"><%= notice %></p>

<table>
    <tr>
      <th>Full Name:</th>
      <td><%= @citizen.full_name %></td>
    </tr>

    <tr>
      <th>CPF:</th>
      <td><%= @citizen.cpf %></td>
    </tr>

    <tr>
      <th>Email:</th>
      <td><%= @citizen.email %></td>
    </tr>

    <tr>
      <th>Birthdate:</th>
      <td><%= @citizen.birthdate %></td>
    </tr>

    <tr>
      <th>Phone:</th>
      <td><%= @citizen.phone %></td>
    </tr>

    <tr>
      <th>Status:</th>
      <td><%= @citizen.status %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>